* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 400px;
}
.header-img {
  height: 400px;
  width: 100%;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom center;
}

main {
  display: flex;
  justify-content: center;
}

.header-txt {
  padding: 20px 0 0 20px;
  color: #555555;
}

.contents-box {
  width: 840px;
  margin: 20px 0 50px 0;
}

.content {
  color: #aaaaaa;
  padding: 30px 0;
  border-bottom: 2px solid #eeeeee;
  font-size: 13px;
}

.content-logo {
  width: 160px;
}
